{% extends 'base.html'%}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div>
        <h1>Lista de empleados</h1>
        <div>
            aqui va 
        </div>
    </div>

    <h1>Listar todos los Empelados</h1>
    <ul>

        {% for e in object_list  %}
            <li>{{ e }}</li>
        {% endfor %}

    </ul>

<!-- Paginacion en html -->
{% if is_paginated %}

    <ul class="pagination">

        {% for i in paginator.page_range %}
            <li class="page item">
                <a href="?page={{i}}" class="page-linl">{{i}}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

{% endblock content %}



