{% extends 'base.html'%}
<!-- Estoy heredando de mi archivo base.html solo aparece codigo q este dentro de un bloque -->
{% block content %}
<!-- redefinimos un bloque del archivo del cual estoy heredando -->
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista de empleados</h1>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTO</th>
                        <th width="150">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in object_list  %}<!-- se recorre la lista con un for-->
                    <tr>
                        <td>{{ e.id }}</td><!-- se itera el elemento del modelo  -->
                        <td>{{ e.first_name }}</td>
                        <td>{{ e.last_name }}</td>
                        <td>{{ e.departamento }}</td>
                        <td>
                            <a class="button success" href={% url 'persona_app:modificar_empleado' e.id %}>Editar</a>
                        </td>
                        <td>
                            <a class="button alert" href={% url 'persona_app:eliminar_empleado' e.id %}>Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<!-- Paginacion en html -->
{% if is_paginated %}

    <ul class="pagination">

        {% for i in paginator.page_range %}
            <li class="page item">
                <a href="?page={{i}}" class="page-linl">{{i}}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

{% endblock content %}



