{% extends 'base.html' %}
<!-- en este template se muestra la seccion del menu llamada "nuevo departamento" -->
{% block title %}
    Registrar Departamento
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Departamento</h1>
        <form class= "cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres:
                    {{form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Apellido:
                    {{form.apellido}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Shor Name:
                    {{form.shorname}}
                </label>
            </div>
            <div class="medium-12 cell">
                <button type="submit" class="button success">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}





<h1>Registrar Nuevo departamento</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Guardar">
</form>